<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="summary_show">
            <table>
                <tr>
                    <th>Квартира</th>
                    <th>Январь</th>
                    <th>Февраль</th>
                    <th>Март</th>
                    <th>Апрель</th>
                    <th>Май</th>
                    <th>Июнь</th>
                    <th>Июль</th>
                    <th>Август</th>
                    <th>Сентябрь</th>
                    <th>Октябрь</th>
                    <th>Ноябрь</th>
                    <th>Декабрь</th>
                    <th>Исх. сальдо</th>
                </tr>
                <tr>
                {% for charge in charges %}
                    <td rowspan="3">{{ charge.flat.flat_number }}</td>
                {% endfor %}
            </tr>
            </table>
        </div>
</body>
</html>